body {
  background-color: aliceblue;
}

#pies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 80%
}

.pies {
  margin-bottom: 25px;
  width: 30%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 10px 10px 15px rgba(0,0,0,.05);
}

img {
  width: 250px;
  height: 250px;
}